<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">
                Protecting children is paramount
                <small>Unicef</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/Charities">Charities</a>
                </li>
                <li class="active">Protecting children is paramount</li>
            </ol>
        </div>

    </div>

    <div class="row">

        <div class="col-md-7">
            <a href="/Cause">
                <img class="img-responsive" src="http://www.unicef.org/images/UN02174.jpg">
            </a>
        </div>

        <div class="col-md-5">
            <h3>Donations so far</h3>
            <h3><span class="label label-success">435.176 BTC</span></h3>
            <h3>Contact person</h3>
            <p> someone (at) unicef.com</p>
            <h3>Bitcoin address</h3>
            <p>1HB5XMLmzFVj....fBsbifRoD4miY36v</p>
            <br />
            <div class="row">
                <div class="pull-left">
                    <img src="https://api.qrserver.com/v1/create-qr-code/?data=1HB5XMLmzFVj....fBsbifRoD4miY36v&amp;size=120x120" style="margin:0 0 0 12px" alt="" title="" />
                </div>
                <div>
                    <a class="btn btn-primary" style="margin:83px 0 0 12px" href="/Faq">How to donate <i class="fa fa-angle-right"></i></a>
                </div>
            </div>

        </div>

    </div>
    <div class="row">

        <div class="col-md-12">

            <h3 class="page-header">Project Description</h3>
            <p>Central African Republic, 2014: Violence and insecurity has forced hundreds of thousands to flee their homes. Some 2.3 million children – who make up half of the population – are affected. Children in the Boy Rabe Monastery displacement camp in Bangui, the capital</p>

        </div>

    </div>

    <div class="row">

        <div class="col-lg-12">
            <h3 class="page-header">Trasactions</h3>

            <table class="table table-striped" id="txs">
                <tbody>
                    <tr><td><div style="display: block;"><a href="/tx/217c1c83594d4585f68debbc4e335e3a588475601e75e6e5f314983b0beb6c76">217c1c83594d4585f68debbc4...</a></div></td><td class="hidden-phone" data-time="1396580959">&lt; 1 minute</td><td><div style="display: block;"><button class="btn btn-success cb"><span data-c="9130000">0.0913 BTC</span></button></div></td></tr>
                    <tr><td><div style="display: block;"><a href="/tx/399aa550f5cad9340a624c1613abdaf2e90ed286954855b0677a90626c81d37b">399aa550f5cad9340a624c161...</a></div></td><td class="hidden-phone" data-time="1396580959">&lt; 1 minute</td><td><div style="display: block;"><button class="btn btn-success cb"><span data-c="61869840">0.6186984 BTC</span></button></div></td></tr>
                    <tr><td><div style="display: block;"><a href="/tx/9f292a6e69360915b463566ed1f48d86105a71bbd25e762afd22b6aa697c4e9b">9f292a6e69360915b463566ed...</a></div></td><td class="hidden-phone" data-time="1396580955">&lt; 1 minute</td><td><div style="display: block;"><button class="btn btn-success cb"><span data-c="64177481">0.64177481 BTC</span></button></div></td></tr>
                    <tr><td><div style="display: block;"><a href="/tx/856d576c9808e27b044cb204c63d4140a82636da88c40ce0860b511f2395a806">856d576c9808e27b044cb204c...</a></div></td><td class="hidden-phone" data-time="1396580955">&lt; 1 minute</td><td><div style="display: block;"><button class="btn btn-success cb"><span data-c="3990000">0.0399 BTC</span></button></div></td></tr>
                    <tr><td><div style="display: block;"><a href="/tx/d3563d8ff7210a000b96b9284ab08529c465a55323988c97e4780c9f60d70cac">d3563d8ff7210a000b96b9284...</a></div></td><td class="hidden-phone" data-time="1396580954">&lt; 1 minute</td><td><div style="display: block;"><button class="btn btn-success cb"><span data-c="90074672028">900.74672028 BTC</span></button></div></td></tr>
                    <tr><td><div style="display: block;"><a href="/tx/c12dff968ab1342035eb44c6a02bf6dbc0535d827d72493f8ae58db6d112ccf2">c12dff968ab1342035eb44c6a...</a></div></td><td class="hidden-phone" data-time="1396580953">&lt; 1 minute</td><td><div style="display: block;"><button class="btn btn-success cb"><span data-c="89340147">0.89340147 BTC</span></button></div></td></tr>
                    <tr><td><div style="display: block;"><a href="/tx/93d15ce13d7cbaea51fce5cf2b7a7ee2d570632806952e94f8db5c489ce35e57">93d15ce13d7cbaea51fce5cf2...</a></div></td><td class="hidden-phone" data-time="1396580953">&lt; 1 minute</td><td><div style="display: block;"><button class="btn btn-success cb"><span data-c="99980000">0.9998 BTC</span></button></div></td></tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
<!-- /.container -->

<div class="container">
